<div id="[+tvid+]editform" class="tveditform tmplvars hidden">
	<h2 class="edit mode">[+tvlang.edit+]</h2><h2 class="append mode">[+tvlang.append+]</h2>
	<div id="[+tvid+]editarea" class="editarea">[+editform+]</div>
	<ul class="actionButtons buttons">
		<li class="edit mode"><a href="#"><img alt="[+tvlang.replace+]" src="../[+tvmtvpath+]css/images/accept.png" /> [+tvlang.save+]</a></li>
		<li class="append mode"><a href="#"><img alt="[+tvlang.append+]" src="../[+tvmtvpath+]css/images/add.png" /> [+tvlang.append+]</a></li>
		<li><a class="cancel" href="#"><img alt="[+tvlang.cancel+]" src="../[+tvmtvpath+]css/images/cancel.png" /> [+tvlang.cancel+]</a></li>
	</ul>
</div>
