<div id="tabpanel-[+table+]">
    <h2>[+caption+]</h2>

    <div class="tabpanel_content">
        [+buttons.top+]
        [+content+]
    </div>
    <div class="tabpanel_bottom">
        [+buttons.bottom+]
    </div>
    <div class="cls"></div>
</div>