<div class="multitv">
    [+cssfiles+]
    [+scriptfiles+]
	[+tvcss+]
	[+script+]
	<textarea style="width:100%;" onchange="documentDirty=true;" name="[+tvid+]" id="[+tvid+]" cols="" rows="">[+tvvalue+]</textarea>
	[+clear+]
	[+paste+]
	[+data+]
</div>
<div style="clear: left"></div>
