	<div id="[+tvid+]paste" class="tvpaste"><a href="#[+tvid+]pasteform">[+tvlang.paste+]</a></div>
	<div id="[+tvid+]pasteform" class="tvpasteform hidden">
		<p class="legend">[+tvlang.pastehere+]</p>
		<div class="radios">
			<input type="radio" class="radio" name="pasteas" value="word"/>[+tvlang.word+]<input type="radio" class="radio" name="pasteas" value="google"/>[+tvlang.google+]<input type="radio" class="radio" name="pasteas" value="csv"/>[+tvlang.csv+]
		</div>
		<div id="[+tvid+]pastearea" class="pastearea" contenteditable="true"></div>
		<ul class="actionButtons buttons">
			<li><a class="replace" href="#"><img alt="[+tvlang.replace+]" src="../[+tvmtvpath+]css/images/table_refresh.png" /> [+tvlang.replace+]</a></li>
			<li><a class="append" href="#"><img alt="[+tvlang.append+]" src="../[+tvmtvpath+]css/images/table_go.png" /> [+tvlang.append+]</a></li>
			<li><a class="cancel" href="#"><img alt="[+tvlang.cancel+]" src="../[+tvmtvpath+]css/images/cancel.png" /> [+tvlang.cancel+]</a></li>
		</ul>
	</div>
