.formtabs { margin: 0; padding: 0; }
.formtab { display: inline-block; zoom:1; *display:inline; color: #313131; font-weight: bold; font-size: 12px; cursor: pointer; margin: 3px -3px 1px 5px; background: #f5f5f5; border: 1px solid #e0e0e0; }
.formtab a { display: block; outline: none; font-weight: bold; font-size: 12px; color: #999; text-decoration: none; padding: 2px 15px 3px; }
.formtab.active { position: relative; color: #333; z-index: 3; top: 0; background: #fff; border: 1px solid #e4e4e4; border-color: #e0e0e0 #c0c0c0 #fff #e0e0e0; }
.formtab a.active { color: #111 }
.formtabpage { background: #fff; border-top: 1px solid #c0c0c0; z-index: 2; position: relative; top: -2px; padding: 10px }
