<!DOCTYPE html>
<html lang="[+language_code+]">
<head>
<meta charset="[+encoding+]">
<title>[+pagetitle+]</title>
<meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
</head>
<body [+textdir+]>
<div id="header">
	<div class="container_10">
		<span class="help"><a href="[+help_link+]" target="_blank" title="[+help_title+]">[+help+]</a></span>
		<span class="version">[+version+] ([+release_date+])</span>
		<div id="mainheader">
			<h1 id="logo"><span>MODX CMS</span></h1>
		</div>
	</div>
</div>
<div id="contentarea">
	<div class="container_10">
		<div id="content">
		[+content+]
		</div>
	</div>
</div>
<div id="footer">
	<div id="footer-inner">
		<div class="container_10">
			[+footer1+]<br />
			[+footer2+]
		</div>
	</div>
</div>
</body>
</html>
