<div id="interaction">
    <div class="section">
    <div class="sectionHeader">[+lang.DM_range_title+]</div> 
    <div class="sectionBody"> 
    <form id="range" action="" method="post"> 
	    <input type="hidden" id="newvalue" name="newvalue" value="" />
	    <input type="hidden" id="setoption" name="setoption" value="" />
	    <input type="hidden" id="pubdate" name="pubdate" value="" />
	    <input type="hidden" id="unpubdate" name="unpubdate" value="" />
	    <input type="hidden" id="createdon" name="createdon" value="" />
	    <input type="hidden" id="editedon" name="editedon" value="" />
	    <input type="hidden" id="author_createdby" name="author_createdby" value="" />
	    <input type="hidden" id="author_editedby" name="author_editedby" value="" />
	    <input type="hidden" id="tabaction" name="tabAction" value ="" /> 
	    
	    <input id="pids" name="pids" type="text" style="width:90%;" />  
	    <input type="submit" name="fsubmit" onclick="postForm('range');return false;" value="[+lang.DM_select_submit+]" /> 
    </form>
    <br />
    [+lang.DM_select_range_text+]
    <div style="clear:both;"></div>
    </div>
</div>